.h1teams{
    color: blue;
    text-align: center;
    font-size: 5em;
    font-family:sans-serif;
}
.mSize{
    font-size: 200%;
}
.bg {
    /* The image used */
    background-image: url("assets/images/Instuif_01.jpg");

    /* Full height */
    height: 40%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
input{
  width: 250px;
  height: 25px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
.imageLogo{
  height: 125px;
  float: left;

}
.footerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 50px;


}
form{
  margin: 5px,5px;
}
